# Sorting Data

In [3]:
import pandas as pd

dicts1 = {'first': ['Corey', 'Jane', 'John'], 
         'last': ['Schafer', 'Doe', 'Doe'], 
         'email': ['coreyschafer@email.com', 'janedoe@email.com', 'johndoe@email.com']}

# dataframe creation
df = pd.DataFrame(dicts1)
df.head()

   first     last                   email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

## Sorting Dataframe

In [5]:
df.sort_values(by = 'last')

   first     last                   email
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com
0  Corey  Schafer  coreyschafer@email.com

In [6]:
df.sort_values(by = ['last', 'email'])

   first     last                   email
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com
0  Corey  Schafer  coreyschafer@email.com

In [10]:
df.sort_values(by = ['last', 'email'], ascending = [True, False], inplace=True)
df

   first     last                   email
2   John      Doe       johndoe@email.com
1   Jane      Doe       janedoe@email.com
0  Corey  Schafer  coreyschafer@email.com

In [14]:
df.sort_index(inplace=True)
df

   first     last                   email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

   first     last                   email
2   John      Doe       johndoe@email.com
1   Jane      Doe       janedoe@email.com
0  Corey  Schafer  coreyschafer@email.com

## Sorting Series

In [15]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [16]:
df['first'].sort_values()

0    Corey
1     Jane
2     John
Name: first, dtype: object

### nlargest and nsmallest

In [17]:
# Read the csv file
df = pd.read_csv('data/survey_results_public.csv')
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [18]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [24]:
df['ConvertedCompYearly'].nlargest(10)

66910    45241312.0
65399    30468516.0
40586    21822250.0
28791    20000000.0
12700    19200000.0
9608     17500000.0
5305     15000000.0
12903    14411628.0
66488    12750000.0
7205     12500000.0
Name: ConvertedCompYearly, dtype: float64

In [26]:
df.nlargest(10,'ConvertedCompYearly')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
66910,66911,I am a developer by profession,I prefer not to say,Belgium,NaN,NaN,Primary/elementary school,55 - 64 years,Books / Physical media,1,...,55-64 years old,NaN,Yes,NaN,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,NaN,45241312.0
65399,65400,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,...,35-44 years old,"Man;Non-binary, genderqueer, or gender non-con...",Yes,Bisexual;Prefer to self-describe:;Gay or Lesbi...,South Asian;Hispanic or Latino/a/x;Black or of...,I am unable to / find it difficult to walk or ...,I have a mood or emotional disorder (e.g. depr...,Too short,Difficult,30468516.0
40586,40587,I am a developer by profession,Employed full-time,United States of America,California,NaN,Some college/university study without earning ...,Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",37,...,35-44 years old,Man,No,Bisexual,White or of European descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,21822250.0
28791,28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,...,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
12700,12701,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Forum,5,...,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,19200000.0
9608,9609,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,New York,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,25,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,17500000.0
5305,5306,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,New Jersey,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,Friend or family member;Books / Physical media,25,...,35-44 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Easy,15000000.0
12903,12904,I am a developer by profession,Employed full-time,Serbia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,14411628.0
66488,66489,I am a developer by profession,Employed full-time,United States of America,Washington,NaN,Some college/university study without earning ...,18 - 24 years,School;Online Courses or Certification;Books /...,5,...,25-34 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Appropriate in length,Easy,12750000.0
7205,7206,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,South Carolina,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",30,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,12500000.0

In [27]:
df['ConvertedCompYearly'].nsmallest(10)

1924     1.0
24285    1.0
46464    1.0
15163    2.0
56790    2.0
22032    3.0
59043    3.0
22453    4.0
41440    5.0
45141    5.0
Name: ConvertedCompYearly, dtype: float64

In [28]:
df.nsmallest(10,'ConvertedCompYearly')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
1924,1925,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Other (please specify):,30,...,45-54 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,1.0
24285,24286,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,16,...,35-44 years old,Man,No,Prefer to self-describe:,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,1.0
46464,46465,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,27,...,35-44 years old,Man,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Easy,1.0
15163,15164,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,5,...,35-44 years old,Woman,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,2.0
56790,56791,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,12,...,25-34 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,2.0
22032,22033,I am a developer by profession,Employed full-time,Republic of Korea,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,5,...,25-34 years old,Man,No,NaN,East Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,3.0
59043,59044,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",20,...,25-34 years old,Man,No,Prefer not to say,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,3.0
22453,22454,I am a developer by profession,Employed full-time,Japan,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,...,35-44 years old,Man,No,NaN,East Asian,None of the above,NaN,Appropriate in length,Easy,4.0
41440,41441,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",10,...,25-34 years old,Man,No,Straight / Heterosexual,East Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,5.0
45141,45142,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Too long,Easy,5.0